{{#partial "admin-content"}}
	{{#if update}}
	    <h2><span style="font-family: icons">✏</span> Update book info:</h2>
	{{else}}
    	<h2><span style="font-family: icons"></span> Remove a book:</h2>
    {{/if}}
	<form role='form' action="/admin/books/remove" method="post" style='max-width: 800px;'>
	    <input type='text' name="query" placeholder='Enter the book title'/>
		<select name="field">
		  <option value="author">Author</option> 
		  <option value="title" selected>Title</option>
		  <option value="isbn">ISBN</option>
		</select>
		&nbsp;&nbsp;
	    <button type='submit'> Search</button>
	</form>

	{{#if error}}
		<span style='color: red'>{{error}}</span>
	{{/if}}

	{{#if books}}
		{{#each books}}
			<div class='book-card'>
				<h3>{{this.title}}</h3>
				<strong>Author</strong>: {{this.authors}} <br/>
				<strong>ISBN</strong>: {{this.isbn}} <br/>
				<strong>Publisher</strong>: {{this.publisher}} <br/>
				<strong>Subject</strong>: {{this.subject}} <br/>
				<strong>Shelf No</strong>: {{this.shelf}} <br/>
				<strong>Number of copies</strong>: {{this.ncopies}} <br/>
				<strong>Notes</strong>: {{this.notes}}


				<span style="float: right; font-weight: bold; display: inline-block; margin: 10px;"><span style="font-family: icons"></span> <a href="/admin/books/del?isbn={{this.isbn}}">remove</a></span>
				or
				<span style="float: right; font-weight: bold; display: inline-block; margin: 10px;"><span style="font-family: icons">✏</span> <a href="/admin/books/update?isbn={{this.isbn}}">edit</a></span>
			</div>
		{{/each}}
	{{/if}}

	<a href="/admin/books">back</a>
{{/partial}}

{{> adminbase}}