{{#partial "body"}} 

	{{#if message}}
		<span id="overhead-msg">{{message}} <span id="overhead-msg-close"></span></span>
	{{else}}
		<span id="overhead-msg" style='display: none'>{{message}} <span id="overhead-msg-close"></span></span>
	{{/if}}

	<section id="header">
		<div class="content-wrapper">
			<a id="logo-link"  href="/"><span id="logo-text-light">Ramanujan</span><span id="logo-text-bold">CentralLibrary</span></a>
			{{#if user}}
			<div id="header-username">
				Welcome &nbsp;<span style="font-weight: bold">
				{{#if user.fullname}}
				{{user.fullname }}
				{{else}}
				Someone
				{{/if}}
				</span> (<a href="/logout">logout</a>)
			</div>
			{{else}}
				<form role='form' action="/login" method="post" id="header-login">
				    <input type='text' name="email" placeholder='Email address'/>
				    <input type='password' name="password" placeholder='Password'/>
				    <button type='submit'> Log In</button>
				    <br/>
				    <a href='/#forgot'>Forgot password?</a>
				</form>
			{{/if}}
		</div>
	</section>
	<section class="main-content">
		{{#block "main-content"}}some content to come.{{/block}}
	</section>
{{/partial}}
{{> base}}