{{#partial "main-content"}} 
	{{#if user}}
			<div class="content-wrapper">
				<div class="home-loggedout-rc">
					<div class="home-user-info">
						<h2 style="margin-bottom: 0">Basic Info: <a href="/user/edit"><span style=" float: right; font-size: 0.7em"><span style="font-family: icons;">✏</span>edit</span></a></h2>
						{{#if user.fullname}}
						<h3>{{user.fullname}}</h3>
						{{else}}
						<h3>Someone</h3>
						{{/if}}
						<strong>email: </strong><span>{{user.email}}</span><br/><br/>
						<strong>books issued: </strong>{{user.bookcount}}
						<span style='float: right'><a href="#view" style="text-decoration: none"><span style="font-family: icons; font-size: 0.8em"></span> view</a></span>

						<h2 style="margin-bottom: 2px">Actions:</h2>
						{{#if user.isadmin}}
							<span style="font-family: icons; color: #555"></span> <a href="/admin">Admin panel</a>
						{{else}}
							sorry no actions available for you at the moment.
						{{/if}}
					</div>
				</div>
				<div class="home-loggedout-lc">
					<div class="home-quote">
						A room without books is like a body without a soul.
					</div>
					<form role='form' action="/find" method="post" class="home-search-loggedout">
					    <input type='text' name="query" placeholder=' Search for a book'/>
						<select name="field">
						  <option value="author">Author</option> 
						  <option value="title" selected>Title</option>
						  <option value="isbn">ISBN</option>
						</select>
					    <button type='submit'> Search</button>
					</form>
				</div>
			</div>
		</section>
	{{else}}
		<section class="home-signup-container">
			<div class="content-wrapper">
				<div class="home-loggedout-lc">
					<div class="home-quote">
						A room without books is like a body without a soul.
					</div>
					<form role='form' action="/find" method="post" class="home-search-loggedout">
					    <input type='text' name="query" placeholder='Enter the book title'/>
						<select name="field">
						  <option value="author">Author</option> 
						  <option value="title" selected>Title</option>
						  <option value="isbn">ISBN</option>
						</select>
					    <button type='submit'> Search</button>
					</form>
				</div>
				<div class="home-loggedout-rc">
					<form role='form' action="/signup" method="post" class='home-signup'>
						<p>Don't have an account? Sign in here.</p>
						<input type='text' name="fullname" placeholder='Name'/>
						<input type='text' name="email" placeholder='Email'/>
						<input type='password' name="password" placeholder='Password'/>
						<input type='password' name="retype" placeholder='Retype Password'/>
						<button type='submit'> Sign Up!</button>
					</form>
				</div>
			</div>
	{{/if}}	
{{/partial}}
{{> incheader}}